@font-face {
    font-family: JosefinSans-Regular;
    src: url('../fonts/JosefinSans-Regular.ttf');
}
@font-face {
    font-family: JosefinSans-Bold;
    src: url('../fonts/JosefinSans-Bold.ttf');
}
@font-face {
    font-family: Muli-Regular;
    src: url('../fonts/Muli-Regular.ttf');
}
